@import "../../../styling/theme.scss";
.dialogContainer{
    .MuiPaper-root{
        border-radius: 10px;
    }
    .formTitle{
        color: $primary-color;
        font-weight: bold;
    }
    .formTextField{
        .MuiOutlinedInput-root{
            border-radius: 10px;
        }
    }
    .formLongAndLatFields{
        display: flex;
        .formLongField{
            @extend .formTextField;
            margin-right: 0.25rem;
        }
        .formLatField{
            @extend .formTextField;
            margin-left: 0.25rem;
        }
    }
    .tempInputContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tempField{
            width: 25%;
            .MuiOutlinedInput-root{
                border-radius: 10px;
            }
        }
        .tempSlider{
            width: 60%;
        }
    }
    .formButton{
        border-radius: 10px;
    }
}