@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Glitch&display=swap');
@import "../../../styling/theme.scss";
.homeContainer{
    .homeHeadingContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        .loginIcon{
            width: 35px;
            margin-right: 0.5rem;
        }
        .loginHeading1{
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 40px;
            color: white;
            margin-right: 0.5rem;
        }
        .loginHeading2{
            font-family: $secondary-font;
            color: $secondary-color;
            font-size: 40px;
        }
    }
    .homeTabBar{
        background-color: $back-color;
        padding: 0.5rem;
        .homeToolbar{
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .homeHeadingAvatarIcon{
                color: #fff;
            }
        }
    }
    .homeFab{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 1;
        .homeFabIcon{
            color: #fff;
        }
    }
}