.mapContainer{
    position: relative;
    .map-container{
        height: calc(100vh - 80px);
    }
    .sidebar {
        background-color: rgba(35, 55, 75, 0.9);
        color: #fff;
        padding: 6px 12px;
        font-family: monospace;
        z-index: 1;
        top: 10px;
        left: 5px;
        position: absolute;
        border-radius: 5px;
        width: 250px;
    }
    .quake-info {
        position: absolute;
        font-family: monospace;
        z-index: 1;
        top: 62px;
        left: 5px;
        padding: 6px 12px;
        width: 250px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(35, 55, 75, 0.9);
        border-radius: 5px;
      }
      
}